[aria-label='Github']:hover span,
[aria-label='LinkedIn']:hover span,
[aria-label='Portfolio']:hover span {
    border-bottom: 1px solid #cbd5e0;
    color: #d63384;
    padding-bottom: 0;
}

[aria-label='Github'],
[aria-label='LinkedIn'],
[aria-label='Portfolio'] {
    text-decoration: none;
    color: inherit;
    svg {
        display: inline-block;
        font-size: 1.5em;
        height: 1em;
        width: 1em;
        vertical-align: middle;
        fill: currentColor;
        pointer-events: none;
    }
}

[aria-label='Print Resume'] {
    background-color: transparent;
    border: none;
    outline: none;
}

.view-source {
    //@media only screen and (min-width: 940px) {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 120px;
    height: 120px;
    overflow: hidden;
    &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 120px 120px 0;
        border-color: transparent #000 transparent transparent;
        position: absolute;
        top: 0;
        right: 0;
    }
    > span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        right: 0;
        transform-origin: 50% 50%;
        transform: rotate(45deg) translateY(-20px);
        color: #fff;
        svg {
            display: inline-block;
            font-size: 1.5em;
            height: 1em;
            width: 1em;
            vertical-align: middle;
            fill: currentColor;
            pointer-events: none;
        }
    }
    // }
}
