<head>
    {%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(meta.url) }}{%- endset -%}
    {%- set pageTitle -%}{{ author.name }}
    {% if author.occupation %} - {{ author.occupation }}
    {% endif %}
    {% if author.location %} in {{ author.location }}
    {% endif %}{%- endset -%}
    {%- set pageDescription -%}Online Resume of {{ author.name }}{%- endset -%}
    {% include "tags/dr-meta.njk" %}
</head>